<p>selector works!</p>
<form [formGroup]="form" (ngSubmit)="submit()">
    <label for="country">Country:</label>
    <select id="countries" #country (change)='newCountry(country.value)'>
      <option *ngFor="let country of countries | async; let i = index" [value]="country.name">
        {{country.name}}
      </option>
    </select>
    <label for="city">City:</label>
    <select id="cities" #city (change)='newCity(city.value)'>
      <option *ngFor="let city of cities | async; let i = index" [value]='[city.lat, city.lng]'>
        {{city.city + ', ' + city.admin_name}}
      </option>
    </select>
    <button>submit</button>
</form>